<div class="breadcrumb">
  <a href="/">Dashboard</a> > <%= link_to("My Profile", profile_path(current_user)) -%> > Edit My Profile
</div>

<h2>Edit Profile</h2>

<%= form_for(@profile, :url => profile_path(@profile), :html => { :method => :put, :multipart => true }) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } -%>

<% end %>

<%= link_to "Back", profile_path(current_user.id) %>
