<div class="breadcrumb">
  <a href="/">Painel de instrumentos</a> > <%= link_to("Meu Perfil", profile_path(current_user)) -%> > Editar perfil
</div>

<h2>Editar perfil</h2>

<%= form_for(@profile, :url => profile_path(@profile), :html => { :method => :put, :multipart => true }) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } -%>

<% end %>

<%= link_to "Voltar", profile_path(current_user.id) %>
