<center>
  <h1>Recent Offers!</h1>
  <%- @offers.each do |offer| -%>
    <%= offer.title %>, available before <%= offer.expires_at.strftime("%b. %d %Y - %A, %I:%M %p") %><br />
  <%- end -%>
</center>
