<div class="ez-box">
  
  <div class="ez-fl ez-negmr ez-25" style="border: 1px solid black; margin-right: 10px;">
    <div class="ez-box" id="account_update">
      <%= render :partial => '/users/registrations/edit' -%>
    </div>
  </div>
<!--
  <fieldset>
    <div class="ez-box">
      <div class="ez-fl ez-negmr ez-35" id="new_place_form">
	<%#= render :partial => '/places/new' -%>
      </div>
      <div class="ez-fl ez-negmr ez-65" id="all_places_list" style="width: 65%;">
	<%#= render :partial => '/places/index' -%>
      </div>
    </div>
  </fieldset>
-->  
</div>
<!--
<div class="ez-box" style="margin-bottom: 10px;"></div>

<div class="ez-box">
  <h3>Offers</h3>
  <div class="ez-fl ez-negmr ez-25" style="border: 1px solid black; margin-right: 10px;">
    <div class="ez-box" id="create_update_offer_form">
      <%#= render :partial => '/offers/new' -%>
    </div>
  </div>
  
  <fieldset>
    <div class="ez-box" id="all_offers_list">
      <%#= render :partial => '/offers/index' -%>
    </div>
  </fieldset>
  
</div>
-->
