<div class="breadcrumb">
  <a href="/">Dashboard</a> > <a href="/offers">My Offers</a> > Edit Offer #<%= @offer.id -%>
</div>

<h1>Editing offer</h1>

<%= render 'form' %>

<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
