<div class="breadcrumb">
  <a href="/">Painel de instrumentos</a> > <a href="/offers">Minhas Ofertas</a> > Nova oferta
</div>

<h1>Nova oferta</h1>

<%= render 'form' %>

<%= link_to 'Voltar', offers_path %>
