<% if user_signed_in? %>
  <li>
  <%= link_to(t(:logout), destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to(t(:login), new_user_session_path)  %>  
  </li>
<% end %>
<%- unless request.method == "POST" -%>
<li>
  <%= select_tag( :lang, options_for_select(t(:supported_languages), session[:locale]), :class => 'lang_selector' ) -%>
</li>
<%- end -%>
